@media(max-width: 768px) {

    body {
        background-image: url('../images/bg-mobile.svg');
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-top: -100px;
    }

    .container header {
        /* display: flex; */
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .container header img {
        margin-left: -100px;
    }

    .container .hero {
        margin-left: -20px;
        align-items: center;
        flex-direction: column;
        margin-top: -70px;
    }


    .container .hero img {
        width: 80%;
        margin-bottom: 20px;
        padding: 20px;
        width: 250px;
    }

    .container .hero .hero-text {
        width: 90%;
        max-width: 400px;
        text-align: center;
        padding: 0 10px;
    }

    .container .hero .hero-text .title {
        margin-top: -120px;
        font-size: 20px;
        margin-left: -35px;
        align-items: center;
    }

    .container .hero .hero-text p {
        width: 180px;
        padding: 10px;
        margin-top: 10px;
        color: #fff;
        font-size: 12px;
        align-items: center;
    }

    .container .hero .btn-register {
        width: 200px;
        padding: 10px;
        font-size: 16px;
        margin-top: 10px;
        align-items: center;
        margin-left: -30px;
    }

        .container .hero .btn-register:hover {
            color: hsl(300, 69%, 71%);
            background-color: hsl(257, 40%, 49%);
        }

    .container .footer {
        margin-left: -100px;
        margin-top: -50px;
    }

    .container .footer .social-icons {
        margin-top: 50px;
        position: relative;
        bottom: auto;
        right: auto;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .container .footer .social-icon li {
        font-size: 10px;
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.3s ease;
        color: #FFFFFF;
        margin-left: 10px;
    }

    .container .footer .social-icon li:hover {
        color: hsl(300, 69%, 71%);
        background-color: hsl(257, 40%, 49%);
        border: 1px solid hsl(300, 69%, 71%);
    }

    .container .footer .attribution {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 30px;
    }

}